<!DOCTYPE html>
<html>
<head>
	<title>驗 證 信 發 送 失 敗</title>
	<style>
		body::after {
			content: "";
			background: url('https://images.pexels.com/photos/23475/pexels-photo.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
			background-repeat: no-repeat;
			background-size: cover;
			opacity: 0.5;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			position: absolute;
			z-index: -1;
			backdrop-filter: blur(10px);
		}
	</style>
</head>
<body>
	<h1>驗 證 信 發 送 失 敗</h1>
	<h1><a href="verify_form.html">重 新 發 送 驗 證 信</a></h1>
</body>
</html>