body{
	margin:0;
	padding:0;
	background-color: #F2E4DC;
}
a{
	text-decoration: none;
	color: #000000
}
a:active{
	color: #ffffff;
}

#banner{
	background-color: #D9BCA3;
	width: 100%;
	height: 80px;
}

#leftlogo{
	width: 20%;
	height: 80px;
	float: left;
}
#leftlogo img{
	width: auto;
	height: 80%;
	margin-left: 5em;
	margin-top: 10px;
	border-radius: 100px;
}
#rightmenu{
	width: 80%;
	height: 80px;
	float: right;
}
#rightmenu ul{
	margin: 0;
}
#rightmenu li{
	float: left;
	list-style: none;
	line-height: 80px;
	padding-right: 2em;
	color: #000000;
}
/*__________________________________________________________________________________________*/
#content{
	margin: 0;
	width: 100%;
	min-height: 500px;
	border-color: #D9BCA3;
}
#title{
	width: 100%;
	height: 40px;
	text-align: center;
	border-bottom: 2px solid #000000;
	margin-bottom: 1em;
}
#title h1{
	margin: 0;
	margin-top: 1em;
}
#leftvideos{
	width: 60%;
	height: 500px;
	float: left;
}
.infoarea{
	float: left;
	border:1px solid #F2E4DC;
	overflow: hidden;
	margin-right: 4px;
}
.infoarea img{
	width: 100%;
	height: 400px;
	transform: scale(1,1);
	transition:all 1s ease-out;
}
.infoarea img:hover{
	transform: scale(1.1,1.1);
}
#rightvideos{
	width: 40%;
	height: 500px;
	float: right;
}
#rightvideos h1{
	list-style-type: none;
	text-align: center;
	font-size: 30px;
	margin-top: 5em;
	padding: 10px;
	list-style-type: none;			 /*不要樣式*/
	border-bottom: 1px solid #adadad /*1px實心線*/
}
/*__________________________________________________________________________________________*/

#photo{
	clear: both;
	width: 100%;
	height: 40px;
	text-align: center;
	border-bottom: 2px solid #000000;

	margin: 0;
}
#photo h1{
	margin: 0;
}
#photography{
	min-height: 400px;
	clear: both;
}
/*__________________________________________________________________________________________*/
#newphoto{
	width: 100%;
	min-height: 200px;
	margin: 0;
/*	background-color: #A6886D;*/
	overflow: hidden;
	margin-top: 1em;
}
.hotphoto{
	float: left;
	overflow: hidden;
}
.hotphoto img{
	width: auto;
	height: 200px;
	margin-left: 4em;
	margin-bottom: 0px;
	transform: scale(1,1);
	transition: all 1s ease-out;
}
.hotphoto img:hover{
	transform: scale(1.2,1.2);
}
/*__________________________________________________________________________________________*/
#music{
	width: 80%;
	min-height: 300px;
	margin-left: 10%;
	background-color: #8c5b3f;
}
.hotmusic{
	float: left;
	width: 26%;
	margin-left: 2.5em;
}
.hotmusic ul{
	list-style: none;
	margin: 0;
	padding:0;
	margin-right: 5em;
	width: 100%;
}
.musicimg{
	width: ;
	float: left;
	clear: both;
	margin: 1em 0;

}
.musicimg img{
	float:left;
	width: auto;
	height: 50px;

}
.musicimg li{
	float:left;
}
.hotmusic a:hover{
	color: #8c5b3f;
}

/*__________________________________________________________________________________________*/

#about{
	width: 100%;
	height: 40px;
	text-align: center;
	border-bottom: 2px solid #000000;
	margin-bottom: 1em;
}

#me{
	width: 100%;
	height: 100px;
	text-align: center;
	margin-bottom: 1em;
}
#showlogo{
	width: 50%;
	height: 100px;
	margin-left: 46%;
}
.logo{
	float: left;
}
.logo img{
	width: auto;
	height: 50px;
}
/*__________________________________________________________________________________________*/
#Contact{
	clear: both;
	width: 100%;
	height: 250px;
}
#con{
	width: 100%;
	height: 40px;
	text-align: center;
	border-bottom: 2px solid #000000;
	margin-bottom: 1em;
}
#showgmail{
	width: 50%;
	height: 100px;
	margin-left: 47.5%;
}